* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --product-name: #ff2020;
    --primary-color: #e72744;
    --secondary-color: #F05524;
    --primary-btn: #6495ED;
    --bg-color: #f1f1f1;
    --black-color: #000000;
    --white-color: #ffffff;
}
.top-products-container h2{
     text-align: center;
     margin-top: 30px;
     
}
.top-products {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
}

.top-products-grid-container {
    margin-top: 20px;
    position: relative;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    padding-left: 0;
}

.top-products-grid-container .top-products-card {
    width: 100%;
    background: #F5F5F5;
}

.top-products-grid-container .top-products-card .top-products-img-bg {
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
}

.top-products-grid-container .top-products-card .top-products-img-bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
    transform-origin: right;
}

.top-products-imgandwishlist {
    position: relative;
}

.top-products-add-to-wishlist {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 1.3rem;
    color: #000000;
}
.top-products-add-to-wishlist button{
    all:unset;
}
.top-products-add-to-wishlist i {
    color: red
}

.top-products-add-to-cart {
    width: 100%;
    padding: 0.5rem;
    background-color: grey;
    color: white;
    border: none;
}
.top-products-add-to-cart:hover{
    background-color: #eb2543;
}

.top-products-grid-container .top-products-card .top-products-product-content {
    padding: 10px;
}

.top-products-grid-container .top-products-card .top-products-product-content .top-products-product-name h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin: 5px 0;
}

.top-products-grid-container .top-products-card .top-products-product-content .top-products-price-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-products-grid-container .top-products-card .top-products-price-rating h2 {
    font-size: 1.5rem;
    color: var(--product-name);
}

.top-products-grid-container .top-products-card .top-products-rating {
    border-radius: 5px;
}

.top-products-grid-container .top-products-card .top-products-rating .fa {
    color: #ffd513;
    cursor: pointer;
}

@media only screen and (max-width:600px) {
   .top-products-grid-container .top-products-card{
       margin-left: 10px;
       
    }
    .top-products-grid-container{
      display: grid;
      grid-template-columns: 200px 200px;
      justify-content: center;
    }
    .top-products-card .top-products-img-bg {
        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
    }
    .top-products {
        min-height: 80vh;
    }
    .top-products-grid-container .top-products-card .top-products-product-content .top-products-product-name h3{
        font-size:1rem;
    }
    .product-grid-container .top-products-card .top-products-price-rating h2{
        font-size:1rem;
    }
     
} 
