* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

    --primary-color: #b92b40;
    --secondary-color: #F05524;
    
}
  
 .address-form {
    background-color: #f9f9f9;
  box-shadow: 2px 4px 4px solid black;
  display: grid;
  grid-template-columns: 300px 300px;
  max-width: 700px;
  grid-gap: 20px;
  margin: 2rem auto 0 auto;
  padding: 2em;
  
  height: 70vh;
  }
  .addressFormInput {
    padding: 10px;
  }
  .text-area {
    grid-column: 1/3;
    padding: 15px;
  }
  .address-form h1 {
    grid-column: 1/3;
  }
  .cancelBtn {
    border: none;
    background-color: grey;
    color: white;
    font-size: 1.2rem;
  }
  .saveBtn {
    border: none;
    
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2rem;
  }
  .address-header{
      text-align:center;
      
  }
  .address-list{
     margin: auto;
     text-align:center;
     border:1px solid black;
     width:20%;
     height:30vh;
     margin-top:20px;
     line-height:2rem;

    
  }
.edit-btn{
    padding:0.8rem 1rem;
    border:none;
    background-color: var(--secondary-color);
    color:white;
    margin-right:10px;

}
.delete-btn{
    
    background-color: #f1f1f1;
    padding:0.8rem 1rem;
    border:none;

}
@media only screen and (max-width:700px){
  .address-list{
     width:100%;
     
     text-align:center;
  }
  .address-form{
    width:100%;
    text-align: center;
    grid-template-columns: 300px;
    height:80vh;
  }
  .saveBtn{
    width: 80%;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    margin-top: 10px;
    margin:0 auto;
  }
  .cancelBtn{
    width: 80%;
    padding: 0.5rem;
    background-color: grey;
    border:none;
    color:white;
    margin:0 auto;
    margin-top: 10px;
  }
}