* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --product-name: #ff2020;
    --primary-color: #e72744;
    --secondary-color: #F05524;
    --primary-btn: #6495ED;
    --bg-color: #f1f1f1;
    --black-color: #000000;
    --white-color: #ffffff;
}





.user-profile-container {
    width: 25%;
    margin: 100px auto 0;
    border: 1px solid gray;
    padding: 1.2rem 1.2rem;
    border-radius: 12px;
    text-align: center;
    height: 350px;
}

.user-profile-container .fa {
    font-size: 6rem;
    padding-bottom: 1rem;
}

.user-profile-details h2 {
    padding: 1rem 0;
}

.go-to-address-btn {
    padding: 1rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 5px;
    margin: 2rem 0;
    margin-right: 10px;
}
.cancel-btn{
    padding: 1rem;
    border: none;
    background-color:var(--secondary-color);
    color: var(--white-color);
    border-radius: 5px;
    margin: 2rem 0;

}

@media only screen and (max-width:700px) {
    
    .user-profile-container {
        width: 70%;
        margin-top: 30px;
    }
 
}